//-------- footer styles ------------------------


.footer{
  margin: 0 30px;
}
.stats-container{
  margin: 0;
  padding: 10px;
 .footerStats {
   text-align: center;
 }span{
    padding: 0 10px;
  }
  .topPlay{
    margin-top: 20px;
    color: $black;
  }
}
