/* history page styling */


body{
    font-family: Arial, Tahoma;
    font-size: 100%
}
th, td{font-size: 100%}
td a{ text-decoration: none; color: #0072a0
}
tfoot td{text-align: center;color: #0072a0}

.dataTables_wrapper{
  padding-top: 30px;
}

.container{
    margin: 10px 30px;
}

// header containers
header{
  margin: 30px 0;

  .menu{
    margin: 20px 0;
    ul{
      padding: 0;
      list-style-type: none;
      margin: 20px 20px 40px 0;
    }
    li{

    }
    a {
      color: #0072a0;
      text-decoration: none;
      float: left;
      padding-right: 10px;

    }
  }
}


// to be removed in next release
.zoom {
    padding: 0px;
    transition: transform .2s; /* Animation */
width: 70px;
margin: 0 0 0 10px;
  }
.zoom img{
      width: 40px;
}
.zoom:hover {
  transform: scale(3) translate(-20px, 0px);
}
/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */


.excerpt, .wiki, .songTitle, .albumTitle, .vTitle, .memberName{
  margin: 4px 32px;
  font-size: 95%;
  line-height: 18px;
  text-align: justify;
}

.excerpt{
  margin: 5px 32px 5px 50px;
}


.vTitle a{
  text-decoration: none;
}

.slant{
  font-style: italic;
}

.memberName, .songTitle, .albumTitle, .videoHeader{
  font-weight: 700;
}
.videoHeader{
  margin-top: 16px;
}

h1{
  font-size: 27px;
  color: midnightblue;
  padding: 0;
}