/* history page styling */

body{
    font-family: Arial, Tahoma;
    font-size: 100%
}
th, td{font-size: 100%}
td a{ text-decoration: none; color: #0072a0
}
tfoot td{text-align: center;color: #0072a0}

.dataTables_wrapper{
  padding-top: 30px;
}

.container{
    margin: 10px 30px;
}

// header containers
header{
  margin: 30px 0;

  .flex-list {
    overflow-x: hidden;
  }

  .flex-list ul {
    list-style-type: none;
    position: relative;
    left: -1px;
    padding: 0;
  }
  .flex-list li {
    display: inline-block;
    line-height: 1;
    padding: 0 1em;
    margin-bottom: 1em;
    border-left: 1px solid #0072a0;
  }
    a {
      color: #0072a0;
      text-decoration: none;
      float: left;
    }
  a:hover{
    color: #0000ff;
    text-decoration: underline;
  }
  }


// to be removed in next release
.zoom {
    padding: 0px;
    transition: transform .2s; /* Animation */
  }


.zoom:hover {
  transform: scale(2) translate(-200px, 0px);
  cursor: pointer;
}
/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */


.excerpt, .wiki, .songTitle, .albumTitle, .vTitle, .memberName{
  margin: 4px 32px;
  font-size: 95%;
  line-height: 18px;
  text-align: justify;
}

.excerpt{
  margin: 5px 32px 5px 50px;
}


.vTitle a{
  text-decoration: none;
}

.slant{
  font-style: italic;
}

.memberName, .songTitle, .albumTitle, .videoHeader{
  font-weight: 700;
}
.videoHeader{
  margin-top: 16px;
}

h1{
  font-size: 27px;
  color: midnightblue;
  padding: 0;
}