.lyricHeader{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.lyrics-content{
  margin: 4px 32px;
  font-style: italic;
}

// collapsing div styling area begins


.wrap-collabsible{
  width: 55%;
  margin-top: 15px;
}

.members-collabsible, .info-collabsible, .pianobar-collabsible {
  width: 95%;
  margin-top: 5px;
}

.songlist-collabsible {
  width: 55%;
  margin-top: 5px;
}

.wrap-collabsible  input {
  display: none;
  visibility: hidden;
}
.wrap-collabsible  label {
  display: block;
  font-weight: bold;
 // text-transform: uppercase;
  text-align: left;
  padding: 4px 0;
  color: #1b71a4;
 // background: rgba(36, 64, 242, 0.65);
  cursor: pointer;
  border-radius: px;
  transition: all 0.25s ease-out;
}
.members-collabsible .info-collabsible .pianobar-collabsible label{
  text-align: left;
}

.wrap-collabsible .info-collabsible .pianobar-collabsible label:hover {
  color: #fcff19;
}

.wrap-collabsible  label::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
.wrap-collabsible section {
  background: rgba(214, 214, 214, 0.20);
  border-bottom: 2px solid rgba(91, 91, 91, 0.44);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem 1.5rem 1rem;
  margin-top: -35px;
}

.songlist-collabsible section{
  margin-top: 4px;
}
.songlist-collabsible section div{
  line-height: 20px;
}

.members-collabsible section, .info-collabsible section, .pianobar-collabsible section{

  margin-top: 2px;
}

.toggle:checked + label + .expand {
  height: auto;
  overflow: hidden;
}
.toggle:checked + label::before {
  transform: rotate(90deg) translateX(-3px);
}

// collapsing div styling area begins

// about collapsable sections
.wrap-collabsible-about section {
  background: rgba(214, 214, 214, 0.20);
  border-bottom: 2px solid rgba(91, 91, 91, 0.44);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem 1.5rem 1rem;
  //margin-top: -35px;
}
