
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 70%;
  overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #8c8c8c;
  float: right;
  font-size: 28px;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modalImg img{
  float:right;
  margin: 0 5px 10px 33px;
  width: 30%;
  -webkit-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
}

// members thumbnail container
.thumbNail {
  float: left;
  margin: 0 10px 10px 0;

}

.memberName {
  clear: both;
  margin: 5px 0;

}

// Loader styles
.lds-heart {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
  margin: 10% 45%;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #f10606;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #f10606;
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

h2 {
  color: #0072a0;
}

h3{
  border-bottom: 1px dashed #0072a0;
  width: 90%;
  padding: 20px 0;
  color: #0072a0;
}