// Youtube results container
.vcontainer {
  padding: 10px;
  width: 80%;
}

.vThumb {
  width: 15%;
  float: left;
  padding: 0 20px 0 0;
}
.youtubeLink {
  height: 100px;
  line-height: 23px;

}
.youtubeLink a{
  text-decoration: none;
}
.youtubeLink a:hover{
  text-decoration: underline;
 }

h3.ytHeader{
  background-image: url('youtube-icon.png');
  background-repeat: no-repeat;
  background-position: left -2px;
  height: 35px;
  padding: 10px 0 0 55px;
  font-weight: bold;
  color: red;
  border-bottom: none;

}

.postDate{
  clear: right;
  margin-bottom: 10px;
  font-size: smaller;
  color: #808080;
}